<div class="mb-4 flex flex-row bg-base-100 py-4">
  <div class="flex w-32 flex-none flex-col items-center justify-start px-4 md:w-48">
    <picture>
      <source srcset="{{ post.author.avatarUrl }}">
      <img
        src="{% fallbackAvatarUrl post.author.name %}"
        alt="{{ post.author.Name }}'s avatar"
        class="mb-2 h-20 rounded-full"
      >
    </picture>
    <p class="flex flex-wrap items-center justify-center text-center text-sm font-bold">
      {{ post.author.name }}
      {% if post.author.isThreadAuthor %}
        <span class="ml-1 rounded border-0 bg-primary px-1 text-[10px] leading-normal text-white">OP</span>
      {% endif %}
    </p>
    <p class="text-center text-xs">
      <span class="brightness-75" style="color: {{ post.author.roleColor }};">{{ post.author.role }}</span>
    </p>
  </div>
  <div class="flex grow flex-col px-4">
    {% if post.title %}
      <div class="flex justify-between">
        <div class="grow">
          <h1 class="mb-4 text-xl">{{ post.title }}</h1>
        </div>
        <a
          class="flex-shrink-0"
          href="{{ post.discordMessageUrl }}"
          target="_blank"
        >
          <div class="badge h-7 gap-1 whitespace-nowrap bg-discord-purple text-discord-purple-content">
            <span>Open in</span> <span class="hidden md:inline">Discord</span>
            <img src="/assets/icons/discord-mark-white-h16px.png" alt="Discord">
          </div>
        </a>
      </div>
    {% endif %}
    <div class="prose max-w-none grow leading-normal">
      {% renderTemplate 'liquid,md' post %}
      {{- content -}}
      {% endrenderTemplate %}
    </div>
    {% if post.attachments.length > 0 %}
      <ul class="flex list-none p-0">
        {% for attachment in post.attachments %}
          <li class="flex flex-wrap p-1">
            {% case attachment.contentType %}
              {% when "image/png" %}
                <a href="{{ attachment.url }}" target="_blank">
                  <img
                    class="h-64 rounded-xl"
                    src="{{ attachment.url }}"
                    alt="{{ attachment.filename }}"
                  >
                </a>
              {% else %}
                <div>
                  <span>💾</span>
                  <a
                    href="{{ attachment.url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {{- attachment.filename -}}
                  </a>
                </div>
            {% endcase %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <hr class="my-2">

    <ul class="flex list-none flex-wrap gap-1 p-0">
      {% for postReaction in post.reactions %}
        <li>
          {% render "components/reaction-badge", reaction: postReaction %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
